// ---------------------------------------------------------------------------
// Imports

@import "base";
@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

@import "../stylesheets/fontello.css";

/* -------------------------------------------------------------------------*/
/* Layout */

html {
  font-size: 1.1875em; /* 1 */
  -webkit-text-size-adjust: 1.1875em; /* 2 */
  -ms-text-size-adjust: 1.1875em; /* 2 */
}

body {
  background-image:url("../image/yellow_bg.png");
  font-family: 'Open Sans', sans-serif;
  //font-size: 1.188em;
  line-height: 1.632em;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  font-weight: bold;
  margin: 2.33em 0;
}

#page {
  @include container;
  @include susy-grid-background;
  margin: 1em auto;
  padding: 0;
  background-color: rgba(255,255,255,0.4);/* slighly transparent white */
  border: solid 10px rgba(255,255,255,0.4); /*Very transparent black*/
}

#navigation {
  background-color: darkgrey;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 2.5em;
  height: 100%;
  @include single-box-shadow;

  li {
    padding: 1em 0 1em 0.25em;
  }

  .submenu {
    background-color: white;
    display: none;
    //height: 20.5em;
    left: 2.5em;
    position: fixed;
    top: 0;
    width: 15em;
    @include single-box-shadow;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

header,
section,
footer {
  @include span-columns(12);
  p {
    padding-right: 1em;
  }
}

section {
  p {
    margin-bottom: 1em;
  }
}

article {
  p {
    line-height: 1.2em;
  }
}

#logo {
  img {
    width: 100%;
  }
}

//Helper Classes
.fll {
  float: left;
}