// ---------------------------------------------------------------------------
// Imports

@import "base";
@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

@import "../stylesheets/fontello.css";

/* -------------------------------------------------------------------------*/
/* Layout */

html {
  font-size: 1.1875em; /* 1 */
  -webkit-text-size-adjust: 1.1875em; /* 2 */
  -ms-text-size-adjust: 1.1875em; /* 2 */
}

body {
  //background-image:url("../image/yellow_bg.png");
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  //font-size: 1.188em;
  line-height: 1.632em;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  font-weight: bold;
  margin: 2.33em 0;
}

#page {
  @include container;
  @include susy-grid-background;
  margin: 1em auto;
  padding: 0;
  //border: solid 10px rgba(255,255,255,0.4); /*Very transparent black*/

  > header,
  > section,
  > footer {
    border: 1px solid rgba(204, 204, 204, 1);
    //@include box-shadow(rgba(255,255,255,0.6) 5px 5px 5px);
    background-color: rgba(204, 204, 204, 0.4);/* slighly transparent white */
    margin: 0.8em 0;
    padding: 10px;
  }
}

#navigation {
  background-color: lightgrey;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 2.5em;
  height: 100%;
  @include single-box-shadow;

  li {
    padding: 1em 0 1em 0.25em;
    @include transition-property(all);
    @include transition-duration(0.5s);

    &:hover {
      background-color: white;
    }

    a {
      cursor: default;
    }
  }

  .submenu {
    background-color: white;
    box-sizing: border-box;
    display: none;
    //height: 20.5em;
    left: 2.5em;
    padding: 0.5em;
    position: fixed;
    top: 0;
    width: 15em;
    //@include box-shadow(red 5px 0px 10px);
    @include single-box-shadow;
  }

  a {
    text-decoration: none;
    color: grey;
  }
}

#logo {
  float: left;
  img {
    margin-right: 5em;
  }
}

#float-logo {
  display: none;
  background-color: rgba(204, 204, 204, 1);/* slighly transparent white */
  position: fixed;
  top: 0;
}

header,
section,
footer {
  @include span-columns(12);

  p {
    padding-right: 1em;
  }
}

section {
  p {
    margin-bottom: 1em;
  }
}

article {
  p {
    line-height: 1.2em;
  }
}


//Helper Classes
.fll {
  float: left;
}