@import url(../stylesheets/fontello.css);
/* line 17, ../../../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 14, ../sass/screen.scss */
html {
  font-size: 1.1875em;
  /* 1 */
  -webkit-text-size-adjust: 1.1875em;
  /* 2 */
  -ms-text-size-adjust: 1.1875em;
  /* 2 */
}

/* line 20, ../sass/screen.scss */
body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.632em;
  -webkit-font-smoothing: antialiased;
}

/* line 29, ../sass/screen.scss */
h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}

/* line 35, ../sass/screen.scss */
h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

/* line 41, ../sass/screen.scss */
h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

/* line 47, ../sass/screen.scss */
h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 1.33em 0;
}

/* line 53, ../sass/screen.scss */
h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}

/* line 59, ../sass/screen.scss */
h6 {
  font-size: 0.75em;
  font-weight: bold;
  margin: 2.33em 0;
}

/* line 65, ../sass/screen.scss */
#page {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  margin: 1em auto;
  padding: 0;
}
/* line 38, ../../../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 74, ../sass/screen.scss */
#page > header,
#page > section,
#page > footer {
  border: 1px solid #cccccc;
  background-color: rgba(204, 204, 204, 0.4);
  /* slighly transparent white */
  margin: 0.8em 0;
  padding: 10px;
}

/* line 83, ../sass/screen.scss */
#navigation {
  background-color: lightgrey;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 2.5em;
  height: 100%;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 92, ../sass/screen.scss */
#navigation li {
  padding: 1em 0 1em 0.25em;
}
/* line 96, ../sass/screen.scss */
#navigation .submenu {
  background-color: white;
  box-sizing: border-box;
  display: none;
  left: 2.5em;
  padding: 0.5em;
  position: fixed;
  top: 0;
  width: 15em;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 110, ../sass/screen.scss */
#navigation a {
  text-decoration: none;
  color: grey;
}

/* line 118, ../sass/screen.scss */
header,
section,
footer {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 121, ../sass/screen.scss */
header p,
section p,
footer p {
  padding-right: 1em;
}

/* line 127, ../sass/screen.scss */
section p {
  margin-bottom: 1em;
}

/* line 133, ../sass/screen.scss */
article p {
  line-height: 1.2em;
}

/* line 138, ../sass/screen.scss */
#logo {
  float: left;
}
/* line 140, ../sass/screen.scss */
#logo img {
  margin-right: 5em;
}

/* line 146, ../sass/screen.scss */
.fll {
  float: left;
}
